body { margin:0; padding:0; }
#map { position:absolute; top:0; bottom:0; width:100%; background-color:#949494;}
.leaflet-popup-close-button {
	display: none;
}
.leaflet-popup-content-wrapper {
	pointer-events: none;
}
.btn{width:70px}
.btn-group-heading{font-size: 130%; text-transform: uppercase}
.heading{font-weight: bold; font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; color:white;}
#locality-panel{position:relative; float:right; right: 5em; top:3em; z-index:2;}
#gender-panel{position:relative; float:right; right: -10em; top:12em; z-index:2;}
#datapanel{position:relative; float: right; right:-25em; bottom: -30em; z-index: 2; width:350px; height:auto; background-color: #ffffff; padding:20px; border-radius: 3px; margin:25px 0px 0px 0px; -webkit-box-shadow: -6px 7px 54px -18px rgba(0,0,0,1); -moz-box-shadow: -6px 7px 54px -18px rgba(0,0,0,1); box-shadow: -6px 7px 54px -18px rgba(0,0,0,1);}
#panel-heading{position:relative; text-align: center; border-radius: 0px; margin: -20px -20px 0px -20px; padding: 10px; background-color: #454545; font-size: 125%;}
.data-row{font-size: 100%; padding-top:1%}
#district-name{font-size: 115%; text-transform: uppercase; margin-top: 2%; color: #4D4D4D;}
.btn-group{float: right; margin-top:5%; margin-bottom: 5%}
#databox {z-index: 3; float: left;}
path {
	-webkit-transition:fill 200ms;
	transition:fill 200ms;
}
